{% extends 'dashboard/index.html' %} {% load widget_tweaks %}
&nbsp;&nbsp;&nbsp;{% block contentbody %}

<div class="container col-sm-6">
  <form method="post" enctype="multipart/form-data">
    <h3><p class="text-center">Role Management</p></h3>
    {% csrf_token %} {% for field in form.visible_fields %}
    <div class="form-group mt-1">
      <h3><p class="text-primary">{{field.label}}</p></h3>
      {% render_field field class="form-control mb-2" name=field.label %}&nbsp;
      {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
      {% endfor %}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-outline-success mt-2 mb-2">
      Submit
    </button>
    <a href="#" class="me-2 btn btn-outline-danger float-right">Cancel</a>
  </form>
</div>
<br /><br />
<h3 class="text-center">Roles assigned to Employees</h3>
<br />
<div class="container-fluid">
  <div class="row">
    <table class="table table-success table-striped text-center table-hover">
      <thead class="table-danger">
        <tr>
          <th scope="col">Sl No.</th>
          <th scope="col">Emp Name</th>
          <th scope="col">Roles</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for role in roles %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{role.user.username}}</td>
          <td>{{role.roles}}</td>
          <td>
            <a
              class="btn btn-outline-primary"
              href="{% url 'adminDjango:roleUpdate' slug=role.slug %}"
              >Edit</a
            >&nbsp;&nbsp;&nbsp;<a
              href="{% url 'adminDjango:deleteRole' slug=role.slug %}"
              class="btn btn-outline-danger"
              >Delete</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
