{% extends 'dashboard/index.html' %}{% load widget_tweaks %}
&nbsp;&nbsp;&nbsp;{% block contentbody %}
<div class="row container">
 <h4 class="mb-5 mt-2"> Meeting Details </h4>

{% for meeting in zoommeetings_list %}
  <div class="col-sm-4 ">
  <div class="card">
        <div class="card-header">{{meeting.meeting_topic}}</div>
        <div class="card-body">
            Date And Time : {{meeting.meeting_date}} - {{meeting.meeting_time}} <br>Duration : {{meeting.meeting_duration}} <br> Link : {{meeting.meeting_zoom_link}}
            <hr><a class="btn btn-outline-primary" href="{% url 'adminDjango:zoom_meeting_user_detail' pk=meeting.id %}">Details</a>
         </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}