{% extends 'dashboard/index.html' %} {% block contentbody %}

<div class="container pt-5 text-center">
  <form method="post" novalidate action=""> 
    {% csrf_token %}
    <div class="col-sm-5">
      <h5><p>Are you sure you want to delete this Job profile ?</p></h5>

      <button type="submit" class="ml-5 btn btn-outline-success float-left">
        Submit
      </button>
      <a
        href="{% url 'jobs:user_job_profile' %}"
        class="me-5 btn btn-outline-danger float-right"
        >Cancel</a
      >
    </div>
  </form>
</div>
{% endblock %}
