{% extends 'dashboard/index.html' %} 
{% load static %}
{% block contentbody %}

<div class="container">

<img src="{% static 'images/jobs/job1.png' %}" class="w-100" style="height:450px"/>

</div>

 <div class="row container mt-2 ms-5">
 <div class="col-sm-5 mt-1 ms-3">
 <a class="text-decoration-none btn btn-outline-primary btn-lg w-100" href="{% url 'jobs:job_list' %}">
      Job Lists
  </a>
  </div>
   <div class="col-sm-5 mt-2 ms-3">
    {% for key, value in jobuserprofile.items %} 
     {% if key == 'user_job_profile' %}
        {% if value %}
  <a class="text-decoration-none btn btn-outline-primary btn-lg w-100" href="{% url 'jobs:user_profile_job_update' slug=value.slug %}">
      User Update Job Profile
  </a>
  {% else %}
     <a class="text-decoration-none btn btn-outline-primary btn-lg w-100" href="{% url 'jobs:user_profile_job_create' %}">
        User Add Job Profile
  </a>
  {% endif %}
    {% endif %}
    {% endfor %}
   </div>
   <div class="col-sm-5 mt-3 ms-3">
  <a class="text-decoration-none btn btn-outline-primary btn-lg w-100" href="{% url 'jobs:user_skill_job_create' %}">
     User Add Skills
 </a>
  </div>
  <div class="col-sm-5 mt-3 ms-3">
  <a class="text-decoration-none btn btn-outline-primary btn-lg w-100" href="">
  Job Profile
  </a>
  </div>
   <div class="col-sm-5 mt-3 ms-3">
  <a class="text-decoration-none btn btn-outline-primary btn-lg w-100" href="{% url 'jobs:job_applied_by_user' %}">
  Applied Company
  </a>
  </div>
  {% for key, value in jobuserprofile.items %} 

 {% if key == 'user_department' %}
        {% if value %}
       
   <div class="col-sm-5 mt-3 ms-3">
  <a class="text-decoration-none btn btn-outline-primary btn-lg w-100" href="{% url 'jobs:job_create' %}">
      Hrs Add Jobs
  </a>
  </div>
 {% endif %}
       
 {% endif %}
 {% endfor %}
</div>


  {% endblock %}