h1 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
}

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  height: 35px;
}

#button {
  height: 35px;
  width: 130px;
  background-color: rgb(90, 203, 156);
  color: aliceblue;
  font-family: "Anton", sans-serif;
  border: none;
  border-radius: 5px;
}
