{% extends 'dashboard/index.html' %}{% load widget_tweaks %}
&nbsp;&nbsp;&nbsp;{% block contentbody %}

<div class = "container ms-4 mb-4">
<h3 class="mt-5 mb-4 text-primary">Departments </h3>
</div>
{% if user_department %}
<div class = "container ms-4 mb-4">
<div clsaa ="col-sm-6">
<a href="{% url 'adminDjango:department_create' %}" class="btn btn-outline-primary form-control"> Add Employee Department</a>
</div>
</div><br>
<hr>
<br>
{% endif %}
<div class="container mt-3 ms-4">
 <div class="row">
    <div class="col-sm-4 mb-2">
      <div class="card">
        <div class="card-header h6">HRs</div>
        <div class="card-body">{% if not hrs %}No users {% endif %}{% for user in hrs %}<p>{{user.employee.first_name}} {{user.employee.last_name}}{% if user_department %}<span class="float-end"><a href="{% url 'adminDjango:department_update' pk=user.id %}" class="btn btn-outline-primary">Edit</a><a href="{% url 'adminDjango:department_delete' pk=user.id %}" class="ms-2 ml-2 btn btn-outline-primary">Delete</a></span>{% endif %}</p>{% endfor %}</div>
    </div>
    </div>
    <div class="col-sm-4 mb-2">
    <div class="card">
        <div class="card-header h6">BackOffices</div>
        <div class="card-body">{% if not backoffices %}No users {% endif %}{% for user in backoffices %}<p>{{user.employee.first_name}} {{user.employee.last_name}}{% if user_department %}<span class="float-end"><a href="{% url 'adminDjango:department_update' pk=user.id %}" class="btn btn-outline-primary">Edit</a><a href="{% url 'adminDjango:department_delete' pk=user.id %}" class="ms-2 ml-2 btn btn-outline-primary">Delete</a></span>{% endif %}</p>{% endfor %}</div>
    </div>
    </div>
    <div class="col-sm-4 mb-2">
    <div class="card">
        <div class="card-header h6">Developers</div>
        <div class="card-body">{% if not developers %}No users {% endif %}{% for user in developers %}<p>{{user.employee.first_name}} {{user.employee.last_name}}{% if user_department %}<span class="float-end"><a href="{% url 'adminDjango:department_update' pk=user.id %}" class="btn btn-outline-primary">Edit</a><a href="{% url 'adminDjango:department_delete' pk=user.id %}" class="ms-2 ml-2 btn btn-outline-primary">Delete</a></span>{% endif %}</p>{% endfor %}</div>
    </div>
    </div>
    <div class="col-sm-4 mb-2">
    <div class="card ">
        <div class="card-header h6">Designers</div>
        <div class="card-body">{% if not designers %}No users {% endif %}{% for user in designers %}<p>{{user.employee.first_name}} {{user.employee.last_name}}{% if user_department %}<span class="float-end"><a href="{% url 'adminDjango:department_update' pk=user.id %}" class="btn btn-outline-primary">Edit</a><a href="{% url 'adminDjango:department_delete' pk=user.id %}" class="ms-2 ml-2 btn btn-outline-primary">Delete</a></span>{% endif %}</p>{% endfor %}</div>
    </div>
    </div>
   
    <div class="col-sm-4 mb-2">
    <div class="card ">
        <div class="card-header h6">Bussiness Developments</div>
        <div class="card-body">{% if not business_developments %}No users {% endif %}{% for user in business_developments %}<p>{{user.employee.first_name}} {{user.employee.last_name}}{% if user_department %}<span class="float-end"><a href="{% url 'adminDjango:department_update' pk=user.id %}" class="btn btn-outline-primary">Edit</a><a href="{% url 'adminDjango:department_delete' pk=user.id %}" class="ms-2 ml-2 btn btn-outline-primary">Delete</a></span>{% endif %}</p>{% endfor %}</div>
    </div>
    </div>
    <div class="col-sm-4 mb-2">
    <div class="card ">
        <div class="card-header h6">Admins</div>
        <div class="card-body">{% if not admins %}No users {% endif %}{% for user in admins %}<p>{{user.employee.first_name}} {{user.employee.last_name}}{% if user_department %}<span class="float-end"><a href="{% url 'adminDjango:department_update' pk=user.id %}" class="btn btn-outline-primary">Edit</a><a href="{% url 'adminDjango:department_delete' pk=user.id %}" class="ms-2 ml-2 btn btn-outline-primary">Delete</a></span>{% endif %}</p>{% endfor %}</div>
    </div>
    </div>
  </div>
    
</div>


{% endblock %}